* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, .5);
}

div {
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
}

#main {
    display: block;
    margin-top: 25vh;
    width: 50vh;
    height: 50vh;
    padding: 0.5vh;
    border-radius: 5px;
}

#main > div {
    display: inline-block;
    margin: .5vh;
    border-radius: 5px;
    width: 48vh;
}

#display {
    height: 14vh;
}

#options {
    padding: 0;
}

/*#options > div , #numbers > div , #operations > div{*/
div > div > div {
    display: inline-block;
    width: 11.5vh;
    height: 7vh;
    border-radius: 5px;
}

#numbers {
    max-width: 35vh;
    margin: 0;
}

#operations {
    max-width: 10vh;
    margin: 0;
    height: 26vh;
}

#numbers > div , #operations > div {
    width: 10vh;
}