* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

div {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 6.5vh;
}

.main {
    display: block;
    margin: 25vh auto;
    width: 50vh;
    height: 50vh;
    padding: 0.5vh;
    border-radius: 5px;
}

.secondary {
    margin-bottom: .5vh;
    border-radius: 5px;
    width: 49vh;
}

.tertiary {
    width: 11.4vh;
    height: 6vh;
}

#display {
    height: 14vh;
    width: 49vh;
    text-align: right;
    vertical-align: bottom;
    line-height: 25vh;
}

#numbers {
    width: 36.5vh;
    margin: 0;
}

#options {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#operations {
    width: 7vh;
    margin-left: 1vh;
    height: 27vh;
    width: 11.5vh;
}

#thirdRow {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
}

#numbers > .tertiary {
    display: inline-block;
    height: 6vh;
    margin-bottom: .7vh;
    margin-left: .3vh;
    vertical-align: middle;
}

#numbers > div:nth-child(10), #numbers > div:nth-child(11) {
    width: 17.6vh;
}

#operations > .tertiary {
    display: inline-block;
    height: 6.15vh;
    width: 10.5vh;
    margin-bottom: .7vh;
    margin-left: .3vh;
}
